@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-container {
  overflow: hidden;

  --effect-duration: 1000ms;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: black;
}

.effect-container::before {
  content: "";
  position: absolute;
  opacity: 0.6;

  top: 0px;
  left: 0px;
  height: var(--effect-height);
  width: var(--effect-width);
  border-radius: 50%;
  transform: scale(0);
  background-color: var(--effect-color);
}

.effect-container.ripplespan::before {
  border-radius: 50%;
  z-index: -10;
  animation: ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(5);
    opacity: 1;
  }
}

.skillMarquee {
  @apply mx-2 px-2 py-1 lg:mx-4 lg:px-4 lg:py-2 border lg:border-2 border-gray-100 rounded-full;
}
